* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  background-color: white;
  width: 100%;
  position: fixed;
  margin: 0;
}

.menu-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  top: 0;
  width: 100%;
  right: -100%;
  position: fixed;
  background-color: #272a31;
  height: 100vh;
}

.nav-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px 24px;
}

.nav-bar {
  width: 25px;
  height: 30px;
  position: fixed;
  top: 15px;
  left: 15px;
  cursor: pointer;
  -webkit-transition: right 8s ease;
  transition: right 8s ease;
}

.bar {
  height: 4px;
  margin: 3px;
  background-color: black;
  width: 100%;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.change .line-1 {
  -webkit-transform: rotateZ(-45deg) translate(-6px, 4px);
          transform: rotateZ(-45deg) translate(-6px, 4px);
  background-color: #d3d3d3;
}

.change .line-2 {
  opacity: 0;
}

.change .line-3 {
  -webkit-transform: rotateZ(45deg) translate(-6px, -4px);
          transform: rotateZ(45deg) translate(-6px, -4px);
  background-color: #d3d3d3;
}

.change {
  left: 0;
}

.nav-list {
  text-align: left;
}

.nav-link {
  text-decoration: none;
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
  color: #272a31;
  position: relative;
  padding: 0;
}

.nav-item {
  background-color: #d3d3d3;
  list-style: none;
  margin: 1px;
  padding: 10px;
  height: 60px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nav-link::before,
.nav-link::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #272a31;
  position: absolute;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  left: 0;
}

.nav-link::after {
  bottom: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.nav-link::before {
  top: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.nav-link:hover::before,
.nav-link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.home-page {
  margin-top: 65px;
}

.page-topic {
  color: #ec5242;
  margin: 12px 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-topic h1 {
  font-family: "COCOGOOSE", sans-serif;
  font-size: 18px;
  font-weight: normal;
}

.page-topic p {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: bolder;
}

.intro-descr {
  margin: 24px;
  width: 85%;
  border: 3px solid #d3d3d3;
  background-color: none;
}

.intro-descr p {
  color: #272a31;
  font-family: "Lato", sans-serif;
  font-weight: bolder;
  font-size: 10px;
  line-height: 20px;
  margin: 12px;
}

.when {
  margin: 0 12px;
  margin-bottom: 60px;
}

.when h2 {
  color: #272a31;
  font-size: 18px;
  font-family: "COCOGOOSE", sans-serif;
  font-weight: normal;
}

.when p {
  font-family: "Lato", sans-serif;
  color: #272a31;
  font-size: 14px;
  font-weight: bold;
}

.main-prog {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-prog .program-heading h3 {
  font-family: "COCOGOOSE", sans-serif;
  color: white;
  margin: 36px;
  font-weight: normal;
}

.main-prog .prog-list {
  width: 95%;
  height: 100%;
  background-color: #272a31;
  margin: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 12px;
}

.main-prog .prog-list img {
  height: 28px;
  color: #272a31;
}

.main-prog .prog-list h4 {
  color: #ec5242;
  font-weight: 600;
  font-family: "Lato", sans-serif;
  font-size: 13px;
}

.main-prog .prog-list p {
  width: 60%;
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 10px;
}

.main-prog .join-us {
  background-color: #ec5242;
  color: white;
  width: 70%;
  height: 50px;
  margin: 32px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-prog .join-us p {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 600;
}

.speakers {
  width: 100%;
  background-color: white;
  margin: 24px 0;
}

.speakers .f-speaker {
  color: #272a31;
  font-family: "Lato", sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 24px;
}

.speakers .speaker-content {
  width: 95%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 5px;
}

.speakers .speaker-content .photo {
  margin: 10px;
}

.speakers .speaker-content .photo img {
  height: 90px;
}

.speakers .speaker-content .speaker-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 0 0 0;
}

.speakers .speaker-content .speaker-details .speaker-name {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.speakers .speaker-content .speaker-details .speaker-about {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: italic;
  color: #ec5242;
  font-size: 10px;
  margin-bottom: 12px;
}

.speakers .speaker-content .speaker-details .speaker-story {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 8px;
}

.about-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #d3d3d3;
}

.about-home .page-topic {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-home .page-topic h1 {
  font-family: "COCOGOOSE", sans-serif;
  text-align: center;
  margin: 0 12px;
}

.about-home .page-topic p {
  font-family: "Lato", sans-serif;
  margin: 12px;
  font-weight: bold;
}

.about-home .about-descr {
  text-align: center;
  border: 3px solid #c5c5c5;
  width: 80%;
  background-color: white;
}

.about-home .about-descr p {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  color: #272a31;
  font-size: 12px;
  line-height: 24px;
  margin: 24px 5px;
}

.about-home p {
  margin: 24px 18px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
}

.about-home p span {
  text-decoration: underline;
  font-weight: 900;
}

.creative {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #d3d3d3;
}

.creative h2 {
  text-align: center;
  color: #272a31;
  font-family: "Lato", sans-serif;
  font-size: 21px;
  font-weight: bold;
  margin: 32px 48px 24px 48px;
}

.creative p {
  margin: 0 48px 24px 48px;
  font-family: "Lato", sans-serif;
  font-size: 11px;
  font-weight: 600;
  text-align: center;
}

.creative .logo {
  width: 85%;
  border: 1px solid #d3d3d3;
  margin: 32px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px;
}

.past-summit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  margin-top: 24px;
}

.past-summit h2 {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #272a31;
}

.past-summit p {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 11px;
  font-weight: 600;
  margin: 24px 0;
}

.past-summit .workshop-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  margin-bottom: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.past-summit .workshop-img .img-1 {
  width: 90%;
}

.past-summit .workshop-img .cover {
  font-family: "Lato", sans-serif;
  color: #ec5242;
  font-weight: 600;
}

.past-summit .workshop-img .img-2 {
  width: 90%;
}

.grpImage-cont {
  width: 100%;
  height: 100%;
}

.partner {
  background-color: #272a31;
  width: 100%;
}

.partner h3 {
  margin-top: 18px;
  color: #d3d3d3;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.partner .logo-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  padding: 12px;
}

.partner .logo-img div .mozilla {
  width: 40px;
  height: 50px;
  margin: 10px;
}

.partner .logo-img div .google {
  width: 40px;
  height: 40px;
  color: #d3d3d3;
}

.partner .logo-img div .microsoft {
  width: 40px;
  height: 50px;
}

.partner .logo-img div .android {
  width: 50px;
  height: 60px;
  margin: 10px;
}

.partner .logo-img div .airbnb {
  width: 40px;
  height: 50px;
}

.partner .logo-img div .edge {
  width: 40px;
  height: 50px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

footer .footer-logo {
  padding: 4px;
}

footer .footer-logo img {
  width: 50px;
}

footer .footer-text {
  font-family: "Lato", sans-serif;
  color: #272a31;
  font-size: 10px;
  font-weight: 600;
  -ms-flex-item-align: end;
      align-self: flex-end;
  justify-self: flex-end;
  padding: 10px;
}

.desktop-container {
  display: none;
}

.logo-container {
  display: none;
}

.see-list {
  display: none;
}

.desktop-text {
  display: none;
}

@media screen and (min-width: 768px) {
  header {
    height: 80px;
  }
  header .container {
    display: none;
  }
  header .desktop-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 25px;
    background-color: #272a31;
    width: 100%;
  }
  header .desktop-container ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
    margin-right: 12%;
  }
  header .desktop-container ul .facebook {
    width: 10px;
    -o-object-fit: contain;
       object-fit: contain;
    list-style: none;
  }
  header .desktop-container ul .facebook img {
    width: 10px;
  }
  header .desktop-container ul .twitter {
    width: 10px;
    -o-object-fit: contain;
       object-fit: contain;
    list-style: none;
  }
  header .desktop-container ul .twitter img {
    width: 18px;
  }
  header .desktop-container ul .english,
  header .desktop-container ul .my-page,
  header .desktop-container ul .logout {
    list-style: none;
  }
  header .desktop-container ul .english a,
  header .desktop-container ul .my-page a,
  header .desktop-container ul .logout a {
    text-decoration: none;
    color: #d3d3d3;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: 12px;
  }
  header .logo-container {
    width: 100%;
    height: 55px;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .logo-container ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
    margin: 0 12%;
  }
  header .logo-container ul .logo-pics {
    list-style: none;
    -o-object-fit: contain;
       object-fit: contain;
    width: 60px;
    margin-right: 21%;
    margin-top: 3px;
  }
  header .logo-container ul .logo-pics img {
    width: 100%;
  }
  header .logo-container ul .header-about,
  header .logo-container ul .header-prog,
  header .logo-container ul .header-join,
  header .logo-container ul .header-sponsor,
  header .logo-container ul .header-News {
    list-style: none;
  }
  header .logo-container ul .header-about a,
  header .logo-container ul .header-prog a,
  header .logo-container ul .header-join a,
  header .logo-container ul .header-sponsor a,
  header .logo-container ul .header-News a {
    text-decoration: none;
    color: #272a31;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: 12px;
  }
  header .logo-container ul .header-camp {
    list-style: none;
    border: 3px solid #ec5242;
    height: 45px;
    padding: 3px;
  }
  header .logo-container ul .header-camp a {
    font-size: 14px;
    text-decoration: none;
    color: #ec5242;
    margin-top: 2px;
  }
  .home-page {
    margin-top: 100px;
  }
  .home-page .page-topic {
    margin: 75px 125px 12px 125px;
  }
  .home-page .page-topic p {
    font-size: 30px;
  }
  .home-page .page-topic h1 {
    font-size: 38px;
    width: 515px;
  }
  .home-page .intro-descr {
    margin-left: 120px;
    margin-right: 185px;
    width: 50%;
  }
  .home-page .intro-descr p {
    font-size: 10px;
    line-height: 20px;
    margin: 10px;
  }
  .home-page .when {
    margin: 0px 120px;
    margin-bottom: 85px;
  }
  .home-page .when h2 {
    font-size: 25px;
  }
  .home-page .when p {
    font-size: 16px;
  }
  .home-page .main-prog .program-heading h3 {
    font-family: "Lato", sans-serif;
    font-weight: 600;
  }
  .home-page .main-prog .prog-list-cont {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 700px;
    margin-bottom: 60px;
  }
  .home-page .main-prog .prog-list-cont .prog-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 98%;
    padding: 10px;
    gap: 0;
  }
  .home-page .main-prog .prog-list-cont .prog-list p {
    width: 90%;
    text-align: center;
  }
  .home-page .main-prog .join-us {
    display: none;
  }
  .home-page .main-prog .see-list {
    display: block;
    margin-bottom: 60px;
  }
  .home-page .main-prog .see-list a {
    text-decoration: underline;
    font-family: "Lato", sans-serif;
    color: #d3d3d3;
    font-weight: 600;
    font-size: 12px;
  }
  .home-page .speaker-items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    width: 80%;
    margin: 0 65px;
  }
  .about-page .about-home {
    margin-top: 48px;
  }
  .about-page .about-home .page-topic {
    margin-top: 150px;
  }
  .about-page .about-home .page-topic p {
    display: none;
  }
  .about-page .about-home .page-topic h1 {
    font-size: 38px;
    width: 515px;
  }
  .about-page .about-home .about-descr {
    width: 60%;
  }
  .about-page p {
    margin-bottom: 70px;
  }
  .mobile-text {
    display: none;
  }
  .desktop-text {
    display: block;
  }
  .creative {
    margin-bottom: 14px;
  }
  .creative p {
    width: 65%;
    line-height: 15px;
  }
  .creative .logo {
    margin: 0;
    width: 45%;
    margin-bottom: 40px;
  }
  .past-summit h2 {
    font-size: 24px;
  }
  .past-summit p {
    font-size: 12px;
  }
  .past-summit .workshop-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 70%;
    gap: 0;
  }
  .partner {
    display: none;
  }
  footer {
    background-color: #272a31;
    height: 100px;
  }
  footer .footer-logo {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  footer .footer-text {
    color: #d3d3d3;
    font-size: 10px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}
/*# sourceMappingURL=style.css.map */